extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/admin/add-product" method="POST") 
            div.form-control
                label(for="title") Title 
                input#title(type="text" name="title")
            div.form-control
                label(for="image") Image Link 
                input#image(type="text" name="image")
            div.form-control
                label(for="price") Price 
                input#price(type="text" name="price")
            div.form-control
                label(for="description") Description 
                input#description(type="text" name="description")
            button.btn(type="submit") Add Product